html, body {
    height: 200%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    background-color: var(--secondary);
    color: var(--text);

    height: 10vh;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
}

footer{
    margin-top: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    background-color: var(--secondary);
    color: var(--text);

    height: 10vh;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
}