.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: var(--background, #f9f6f7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 67.5rem;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  background: var(--secondary, #c7d0bd);
  flex-shrink: 0;
  width: 120rem;
  height: 6.25rem;
  position: relative;
  overflow: hidden;
}
.toogle {
  width: 17.1875rem;
  height: 6.25rem;
  position: absolute;
  left: calc(50% - -42.8125rem);
  top: calc(50% - 3.0625rem);
  overflow: hidden;
}
.toggle-on {
  width: 4.375rem;
  height: 4.375rem;
  position: absolute;
  left: 6.3125rem;
  top: 0.9375rem;
  overflow: visible;
  aspect-ratio: 1;
}
.moon {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  left: 12.0625rem;
  top: 1.5625rem;
  overflow: visible;
  aspect-ratio: 1;
}
.sun {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  left: calc(50% - 6.78125rem);
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 1;
}
.line-1 {
  margin-top: -0.3125rem;
  border-style: solid;
  border-color: var(--text, #090607);
  border-width: 0.3125rem 0 0 0;
  width: 6.25rem;
  height: 0rem;
  position: absolute;
  left: 102.8125rem;
  top: 0.0625rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.nos-produits {
  color: var(--text, #090607);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  position: absolute;
  left: 87.9375rem;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acceuil {
  color: var(--text, #090607);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  position: absolute;
  left: 78rem;
  top: calc(50% - 0.875rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-che-navigation {
  padding: 0.6875rem 0.8125rem 0.6875rem 0.8125rem;
  display: flex;
  flex-direction: row;
  gap: 0.8125rem;
  align-items: center;
  justify-content: center;
  width: 11.625rem;
  height: 6.3125rem;
  position: absolute;
  left: 19.6875rem;
  top: 0.0625rem;
  overflow: hidden;
}
.arrow-left-square {
  opacity: 0.7;
  flex-shrink: 0;
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.arrow-right-square {
  opacity: 0.7;
  flex-shrink: 0;
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.logo {
  background: var(--secondary, #c7d0bd);
  width: 13rem;
  height: 6.25rem;
  position: absolute;
  left: 0rem;
  top: 0.0625rem;
}
.re-vi-tech {
  color: var(--text, #090607);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  position: absolute;
  left: 2rem;
  top: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-7 {
  background: var(--primary, #9cc276);
  padding: 6.25rem;
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-4 {
  background: var(--accent, #aeaeaf);
  border-radius: 1.25rem;
  padding: 2.375rem 18.125rem 2.375rem 18.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.gestion-des-stockes {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  position: relative;
}
.frame-5 {
  background: var(--accent, #aeaeaf);
  border-radius: 1.25rem;
  padding: 2.375rem 18.125rem 2.375rem 18.125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.gestion-des-tickets {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  position: relative;
}
.frame-2 {
  background: var(--secondary, #c7d0bd);
  padding: 0.625rem;
  flex-shrink: 0;
  width: 120rem;
  height: 7.125rem;
  position: relative;
}
.arrow-up-circle {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  right: 1.875rem;
  top: -5.1875rem;
  overflow: visible;
  aspect-ratio: 1;
}
